<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Childcare form submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/mystyle.css" th:href="@{/css/mystyle.css}"/>
    <script type="application/javascript" th:src="@{/js/validation.js}" />
</head>
<body>
<!--<script>
    function validateForm(){
        var x = document.forms["myform"]["firstName"].value;
        alert("Put a message here");
        if (x == "") {

            alert("Name must be filled out");
            return false;
        }

    }
</script>-->
<h1>Form</h1>
<form name="myform" action="#" th:action="@{/childcare/enrollment}" th:object="${child}" onsubmit="return validateForm()" method="post">
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>First name: <input  th:field="*{firstName}" /></p>
    <p>Last name: <input  th:field="*{lastName}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>